{{>licenseInfo}}
package {{invokerPackage}}

import io.circe.Decoder
import java.util.Date
import java.io.File

object Decoders {
  implicit val dateDecoder: Decoder[Date] = ???
  implicit val fileDecoder: Decoder[File] = ???
}