{{>licenseInfo}}
package {{invokerPackage}}

import scala.concurrent.Future

object Decoders {
  trait ClientResponseReader[T] {
    def read(i: Int): T
  }
  implicit def clientResponseReader[T]: ClientResponseReader[T] = ???
}