{{>licenseInfo}}
package {{invokerPackage}}

import io.circe.Encoder
import io.circe.generic.semiauto._
import java.util.Date
import java.io.File

object Encoders {
  implicit val dateEncoder: Encoder[Date] = ???
  implicit val fileEncoder: Encoder[File] = ???
}