{{>licenseInfo}}
package {{package}}

{{#imports}}
import {{import}}
import {{import}}._
{{/imports}}
import {{invokerPackage}}.Decoders._
import {{invokerPackage}}.Encoders._
import io.circe.generic.JsonCodec

{{#models}}
{{#model}}
@JsonCodec case class {{classname}} (
  {{#vars}}
  {{#description}}
  // {{{description}}}
  {{/description}}
  {{{name}}}: {{^required}}Option[{{/required}}{{datatype}}{{^required}}] = None{{/required}}{{#hasMore}},{{/hasMore}}
  {{/vars}}
)

{{/model}}
{{/models}}
